body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
}
.left {
    width: 60%;
}
.left-up {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #c0e0fc;
}
.left-down {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ebeced;
}
.right {
    width: 40%;
    padding: 20px;
    background-color: #cacbcc;
}
input, button, select {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    width: calc(100% - 40px);
}
#results, #weather, #nearby-places {
    margin-top: 20px;
}
.location, .place {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #f9f9f9;
}
.location:hover, .place:hover {
    background-color: #e0e0e0;
}
.forecast {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 10px;
}
.day {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 12px;
    width: calc(12% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.day img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.day:hover {
    background-color: #e0e0e0;
}
#map {
    height: 300px;
    margin-bottom: 20px;
}
#lists-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    max-height: 300px;
    overflow-y: auto;
}
.list-item {
    cursor: pointer;
    margin: 5px 0;
}
.list-item:hover {
    background-color: #e0e0e0;
}
.nested-list {
    margin-left: 20px;
    display: none;
}
.nested-list.active {
    display: block;
}
h1 {
    text-align: center;
    font-size: 24px;
}
h2 {
    text-align: center;
    font-size: 24px;
}